* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header_main {
  background-image: url("./img/black_header_pic.jpg");
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.header_head {
  max-width: 100%;
  display: flex;
}

.header_logo {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}

.header_nav_menu {
  display: flex;
  justify-content: right;
  text-align: right;
  width: 1200px;
  margin-left: auto;
}

.header_nav_items {
  display: flex;
}

.header_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.buttons_li {
  display: flex;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 20px;
  box-shadow: red 0px 0px 20px 5px;
  background-color: rgb(92, 5, 5);
}
.buttons_li,
.btn,
.header_buttons :hover {
  cursor: pointer;
}
.header_text_big {
  display: flex;
  width: 1500px;
  color: white;
  min-width: 250px;
  line-height: 60px;
  max-height: 500px;
  margin-left: 100px;
  margin-top: 100px;
}

.line-red {
  display: flex;
  max-width: 100%;
  min-width: 100px;
  max-width: 1100px;
  height: 50px;
  width: 1200px;
}

.line {
  display: flex;
  border: 3px solid red;
  width: 200px;
  min-width: 100px;
  max-width: 1200px;
  height: 1px;
  border-radius: 20px;
  justify-content: right;
  margin-left: 100px;
  margin-top: 20px;
}

.header_text_small {
  display: flex;
  width: 1300px;
}
.header_text_small-letters {
  display: flex;
  color: white;
  margin-left: 100px;
  margin-top: 15px;
}

.button-red {
  width: 1100px;
  display: flex;
  margin-left: 100px;
  margin-top: 30px;
  height: 150px;
}

.btn {
  border: 2px solid red;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  box-shadow: red 0px 0px 20px 5px;
  background-color: rgb(92, 5, 5);
  color: white;
}

.header_white_line {
  display: flex;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  min-width: 50px;
  margin-left: 10px;
}

.white_line {
  display: flex;
  border: white 3px solid;
  height: 2px;
  max-width: 900px;
  width: 80%;
  min-width: 50px;
  border-radius: 20px;
}

.blank_space {
  display: flex;
  height: 43px;
  width: 100%;
}
